<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Mark Allen Matney, Jr.">
    <title>NorCal Shows Data</title>
  </head>
  <body>
    <h1>NorCal Shows Data</h1>
    <p>Current version: <a href="{{ '/v' + versions['current'] }}">{{ versions['current'] }}</a></p>
    {% if versions['past']|length > 0 %}
      <p>Past versions:</p>
      <ul>
      {% for v in versions['past'] %}
        <li><a href="{{ '/v' + v }}">{{ v }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    <p>See the code <a href="https://github.com/markmatney/norcal-shows-data">here!!!</a></p>
    <p>DISCLAIMER: the data presented here is not mine and is derived from <a href="http://www.calweb.com/~skoepke/">this person's</a> work.</p>
  </body>
</html>
